[Unit]
Description=Backend tutorials
After=network.target
requires=mysql-service

[Service]
WorkingDirectory=/home/{{ backend_user }}/backend
Type=simple
User={{ backend_user }}
ExecStart=/usr/bin/node /home/{{ backend_user }}/backend/server.js
Restart=always

[Install]
WantedBy=multi-user.target