[Unit]
Description=backend
After=network.target
Requires=mysql.service

[Service]
WorkingDirectory=/home/backend/backend
Type=simple
User=backend
ExecStart=/usr/bin/node /home/backend/backend/server.js
Restart=always

[Install]
WantedBy=multi-user.target
